$color-primary    : #ec583a;
$color-acent      : #ff7148;
$color-secondary  : #93b1c6;
$color-support    : #c7d0d5;
$color-background : #f5f5f5;
$color-font       : #748194;
$color-black      : #000000;

$color-blue       : #0095da;