.text-field {
  padding: 10px 12px;
  margin: 5px 0;
  font-size: 16px;
  outline: none;
  border: 0;
  width: 100%;
  display: block;
  color: $color-font;
  background: $color-background;
  border-radius: 4px;
  &:focus {
    box-shadow: 0 0 4px 2px $color-support;
  }
  &-root {
    background-color: #fff;
    border: 1px solid $color-support;
  }
}

.button {
  font-size: 16px;
  border: 0;
  color: white;
  outline: none;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 10px;
  &-primary {
    background: $color-primary;
    &:hover {
      background: $color-background;
      color: $color-primary;
    }
    &:disabled {
      background: $color-background;
      color: $color-black;
    }
  }
  &-acent {
    background: $color-acent;
    border: 2px solid $color-acent;
    &:hover {
      background: $color-background;
      color: $color-acent;
      border: 2px solid $color-support;
    }
    &:disabled {
      background: $color-background;
      color: $color-black;
    }
  }
  &-secondary {
    background: $color-secondary;
    &:hover {
      background: $color-background;
      color: $color-acent;
    }
    &:disabled {
      background: $color-background;
      color: $color-black;
    }
  }
  &-blue {
    background: $color-blue;
    border: 2px solid $color-blue;
    &:hover {
      background: $color-background;
      color: $color-blue;
      border: 2px solid $color-support;
    }
    &:disabled {
      background: $color-background;
      color: $color-black;
    }
  }
}


.table {
  width: 100%;
  border-spacing: 0;
}

.icon-image {
  cursor: pointer;
}

.title {
  margin: 4px;
  color: $color-font;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

::placeholder {
  color: rgba($color-font,0.38);
}

.card-box {
  margin-top: 15px;
  box-shadow: 0 0 4px 2px $color-support;
  border-radius: 8px;
  padding: 5px 20px;
  background-color: white;
}

.base-line {
  border-bottom: 1px solid $color-support;
}

.grid-block {
  display: flex;
  &-sb {
    display: flex;
    justify-content: space-between;
    &-c {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-c {
    display: flex;
    justify-content: center;
  }
}

.h-size-1 {
  width: 40px;
}
.h-size-2 {
  width: 80px;
}
.h-size-3 {
  width: 120px;
}
.h-size-4 {
  width: 160px;
}
.h-size-5 {
  width: 200px;
}

.v-size-1 {
  height: 40px;
}
.v-size-2 {
  height: 80px;
}
.v-size-3 {
  height: 120px;
}
.v-size-4 {
  height: 160px;
}
.v-size-5 {
  height: 200px;
}


.space-1 {
  margin:0 5px;
  &-left {
    margin-left: 5px;
  }
  &-right {
    margin-right: 5px;
  }
}

.space-2 {
  margin:0 10px;
  &-left {
    margin-left: 10px;
  }
  &-right {
    margin-right: 10px;
  }
}

.gap-1 {
  margin: 5px 0;
  &-top {
    margin-top: 5px;
  }
  &-bottom {
    margin-bottom: 5px;
  }
}

.gap-2 {
  margin: 10px 0;
  &-top {
    margin-top: 10px;
  }
  &-bottom {
    margin-bottom: 10px;
  }
}

.gap-3 {
  margin: 15px 0;
  &-top {
    margin-top: 15px;
  }
  &-bottom {
    margin-bottom: 15px;
  }
}

.pad-1 {
  padding: 5px;
  &-h {
    padding: 0 5px;
    &-l {
      padding-left: 5px;
    }
    &-r {
      padding-right: 5px;
    }
  }
  &-v {
    padding: 5px 0;
    &-t {
      padding-top: 5px;
    }
    &-b {
      padding-bottom: 5px;
    }
  }
}

.pad-2 {
  padding: 10px;
  &-h {
    padding: 0 10px;
    &-l {
      padding-left: 10px;
    }
    &-r {
      padding-right: 10px;
    }
  }
  &-v {
    padding: 10px 0;
    &-t {
      padding-top: 10px;
    }
    &-b {
      padding-bottom: 10px;
    }
  }
} 

.pad-3 {
  padding: 15px;
  &-h {
    padding: 0 15px;
    &-l {
      padding-left: 15px;
    }
    &-r {
      padding-right: 15px;
    }
  }
  &-v {
    padding: 15px 0;
    &-t {
      padding-top: 15px;
    }
    &-b {
      padding-bottom: 15px;
    }
  }
} 

.block-1 {
  flex-grow: 1;
}
.block-2 {
  flex-grow: 2;
}
.block-3 {
  flex-grow: 3;
}
.block-4 {
  flex-grow: 4;
}
.block-5 {
  flex-grow: 5;
}
.block-6 {
  flex-grow: 6;
}
.block-7 {
  flex-grow: 7;
}
.block-8 {
  flex-grow: 8;
}
.block-9 {
  flex-grow: 9;
  margin: 5px;
}
.block-10 {
  flex-grow: 10;
}
.block-11 {
  flex-grow: 11;
}
.block-12 {
  flex-grow: 12;
}

.overlay {
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-box {
    z-index: 3;
    width: 20vw;
    height: auto;
    opacity: 1;
  }
}

.box-border {
  border: 1px solid $color-support;
}